* {
  margin: 0;
  padding: 0;
}

body {
	background-color: #f2c416;
		/*background-image: url('sandstone.jpg');*/
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
*/
}

h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 6em;
	color: #9b1c13;
}

.header {
	display: block;
	margin: -0.4em 0 0em 2.1em;
	clear: both;
}

.container {
	   z-index: 10;

}

.overlay {
   /*background-color: #fff;*/
   opacity: .17;
   filter: alpha(opacity=70);
   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: -1;
}

.bg {
   /*background-color: #fff;*/
/*   opacity: .2;
   filter: alpha(opacity=70);
*/   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   z-index: -10;
}

#circle {
/*    margin: 4em 0 4em 0;
*/    /*position: relative;*/
	padding: 0 0 0 210px;
    width: 557px;
    height: 557px;
}

#white_circle {
    position: absolute;
    width: 557px;
    height: 557px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
}

#white_circle {
    border: 30px solid white;
    z-index: -2;
}
